<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ko.school.mapper.LoginMapper">

	<!-- 액터 ==> 학생,교사  / 작업내용 : 로그인정보와 일치시 객체리턴 / 작성자 : 이재승 -->
	<select id="memberCheck" resultType="MemberVO">
		SELECT *
		FROM member
		WHERE memberid=#{id} AND memberpassword=#{password}
	</select>
	<!-- 액터 ==> 학부모  / 작업내용 : 로그인정보와 일치시 객체리턴 / 작성자 : 이재승 -->
	<select id="parentCheck" resultType="ParentVO">
		SELECT *
		FROM parent
		WHERE parentid=#{id} AND parentPassword=#{password}
	</select>
	<!-- 액터 ==> 학교관리자  / 작업내용 : 로그인정보와 일치시 객체리턴 / 작성자 : 이재승 -->
	<select id="schoolAdminCheck" resultType="SchoolAdminVO">
		SELECT *
		FROM schooladmin
		WHERE schooladminid=#{id} AND schooladminpassword=#{password}
	</select>
	<!-- 액터 ==> 시스템관리자  / 작업내용 : 로그인정보와 일치시 객체리턴 / 작성자 : 이재승 -->
	<select id="systemAdminCheck" resultType="SystemAdminVO">
		SELECT *
		FROM systemAdmin
		WHERE systemadminid=#{id} AND systemadminpassword=#{password}
	</select>

</mapper>