<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ko.school.mapper.SusiSimulationMapper">
	
   <!-- 내신 조회를 위한 작업 -->
   <!-- 학생 객체 -->
	<select id="studentCheck" resultType="StudentVO">
		SELECT *
		FROM student
		WHERE memberid=#{id}
	</select>
	
 <!-- 전체 과목별 등수 -->
   <select id="allRankingScoreList" resultType="AllRankingScoreList">
   		SELECT RANK() OVER (partition by s.subjectId ORDER BY s.subjectTotal DESC) AS Rank,
   		s.subjectId AS subjectId, s.memberId AS memberId, s.subjectTotal AS subjectTotal
		FROM	
		(SELECT s.subjectId AS subjectId ,s3.subjectType AS subjectType,s3.subjectName AS subjectName,
		s3.subjectUnit AS subjectUnit,
   		s.memberId AS memberId, (s.midexam*0.4)+(s.finalexam*0.4)+(s.perfomanceevaluation*0.2) AS subjectTotal,
		s2.subjectAvg AS subjectAvg
		from score s,
		(SELECT subjectId, AVG((midexam*0.4)+(finalexam*0.4)+(perfomanceevaluation*0.2)) AS subjectAvg from score
		WHERE semester = #{semester}
		AND nesinyear = #{nesinYear}
		group by subjectId) s2,
		subject s3
		WHERE s.subjectId = s2.subjectId
		AND s.subjectId = s3.subjectId
		AND semester = #{semester}
		AND nesinyear = #{nesinYear}) s
   </select>
   
   <!-- 전체 과목별 전체명수  -->
   <select id="allStudentNum" resultType="AllStudentNum">
   		SELECT subjectId,count(*) AS allStudentNum FROM SCORE
   		WHERE semester = #{semester}
   		AND nesinyear = #{nesinYear}
		GROUP BY subjectId
   </select>
   
   <!-- 해당 학생의 과목 아이디, 교과 -->
   <select id="susiSubject" resultType="SusiSubjectDTO">
   	SELECT su.subjectId, su.subjectType FROM score sc, subject su
	WHERE sc.subjectId = su.subjectId
	AND memberId = #{id}
	AND semester = #{semester}
	AND nesinYear = #{nesinYear}
	</select>
	
	<!-- 수시 시뮬레이션 차트 (대학리스트) -->
    <select id="univerSityChartList" resultType="UniversityVO">
   	select
	    a.universityName
	    , a.universityId
	    , (select min(b.averscore) from susiScore b where a.universityId = b.universityId) minAverscore
	    , (select max(b.averscore) from susiScore b where a.universityId = b.universityId) maxAverscore
	from
	    university a
   </select> 
	
	
		<!-- 과목단위수 구하기 -->
	<select id="selectSubject" resultType="Subject">
		SELECT * FROM subject
		WHERE subjectId = #{id}
	</select>
   
   <!-- 수시 대학교 정보 리스트 -->
   <select id="susiInfoList" resultType="SusiInfoVO">
   	SELECT e.majorId, e.universityId, e.recruitSeparate ,e.recruitModelType, e.reflectionRateId, 
   	e.recruitNum, s.schoolReportReflectionRateId,
	s.grade1ReflectionRate, s.grade2ReflectionRate, s.grade3ReflectionRate, s.reflectionSubjects, s.pointperGradeId,
	p.pointPerGrade1, p.pointPerGrade2, p.pointPerGrade3, p.pointPerGrade4, p.pointPerGrade5, p.pointPerGrade6,
	p.pointPerGrade7, p.pointPerGrade8, p.pointPerGrade9, ss.averScore, m.majorName, m.kind, m.college,
	u.universityName, u.universityLocal
	FROM entranceInfo e, schoolReport s, pointPerGrade p, susiScore ss, major m, university u
	WHERE e.schoolReportReflectionRateId = s.schoolReportReflectionRateId
	AND s.pointPerGradeId = p.pointPerGradeId 
	AND e.majorId = ss.majorId 
	AND e.universityId = ss.universityId
	AND e.entranceYear = ss.entranceYear
	AND e.recruitSeparate = ss.recruitSeparate
	AND e.majorId = m.majorId
	AND e.universityId = u.universityId
	AND u.universityName = #{uniName}
	AND e.recruitSeparate = #{susi} 
   </select>
   
	<!-- 선택지역 대학교 정보 리스트 -->
   <select id="selectLocationList" resultType="SusiInfoVO">
   	SELECT e.majorId, e.universityId, e.recruitSeparate ,e.recruitModelType, e.reflectionRateId, 
   	e.recruitNum, s.schoolReportReflectionRateId,
	s.grade1ReflectionRate, s.grade2ReflectionRate, s.grade3ReflectionRate, s.reflectionSubjects, s.pointperGradeId,
	p.pointPerGrade1, p.pointPerGrade2, p.pointPerGrade3, p.pointPerGrade4, p.pointPerGrade5, p.pointPerGrade6,
	p.pointPerGrade7, p.pointPerGrade8, p.pointPerGrade9, ss.averScore, m.majorName, m.kind, m.college,
	u.universityName, u.universityLocal, r.schoolreportreflectionrate
	FROM entranceInfo e, schoolReport s, pointPerGrade p, susiScore ss, major m, university u, reflectionRate r
	WHERE e.schoolReportReflectionRateId = s.schoolReportReflectionRateId
	AND s.pointPerGradeId = p.pointPerGradeId 
	AND e.majorId = ss.majorId 
	AND e.universityId = ss.universityId
	AND e.entranceYear = ss.entranceYear
	AND e.recruitSeparate = ss.recruitSeparate
	AND e.majorId = m.majorId
	AND e.universityId = u.universityId
	AND e.ReflectionRateId = r.ReflectionRateId
	AND u.universityLocal LIKE #{region}
	AND e.recruitSeparate = #{susi} 
   </select>
   
   <!-- 선택지역, 계열 대학교 정보 리스트 -->
   <select id="selectLocationList2" resultType="SusiInfoVO">
   	SELECT e.majorId, e.universityId, e.recruitSeparate ,e.recruitModelType, e.reflectionRateId, 
   	e.recruitNum, s.schoolReportReflectionRateId,
	s.grade1ReflectionRate, s.grade2ReflectionRate, s.grade3ReflectionRate, s.reflectionSubjects, s.pointperGradeId,
	p.pointPerGrade1, p.pointPerGrade2, p.pointPerGrade3, p.pointPerGrade4, p.pointPerGrade5, p.pointPerGrade6,
	p.pointPerGrade7, p.pointPerGrade8, p.pointPerGrade9, ss.averScore, m.majorName, m.kind, m.college,
	u.universityName, u.universityLocal, r.schoolreportreflectionrate
	FROM entranceInfo e, schoolReport s, pointPerGrade p, susiScore ss, major m, university u, reflectionRate r
	WHERE e.schoolReportReflectionRateId = s.schoolReportReflectionRateId
	AND s.pointPerGradeId = p.pointPerGradeId 
	AND e.majorId = ss.majorId 
	AND e.universityId = ss.universityId
	AND e.entranceYear = ss.entranceYear
	AND e.recruitSeparate = ss.recruitSeparate
	AND e.majorId = m.majorId
	AND e.universityId = u.universityId
	AND e.ReflectionRateId = r.ReflectionRateId
	AND m.kind = #{kind}
	AND u.universityLocal LIKE #{region}
	AND e.recruitSeparate = #{susi}
   </select>
	
	
	<!-- 대학명 검색 -->
   <select id="searchUniName" resultType="SusiInfoVO">
   	SELECT e.majorId, e.universityId, e.recruitSeparate ,e.recruitModelType, e.reflectionRateId, 
   	e.recruitNum, s.schoolReportReflectionRateId,
	s.grade1ReflectionRate, s.grade2ReflectionRate, s.grade3ReflectionRate, s.reflectionSubjects, s.pointperGradeId,
	p.pointPerGrade1, p.pointPerGrade2, p.pointPerGrade3, p.pointPerGrade4, p.pointPerGrade5, p.pointPerGrade6,
	p.pointPerGrade7, p.pointPerGrade8, p.pointPerGrade9, ss.averScore, m.majorName, m.kind, m.college,
	u.universityName, u.universityLocal, r.schoolreportreflectionrate
	FROM entranceInfo e, schoolReport s, pointPerGrade p, susiScore ss, major m, university u, reflectionRate r
	WHERE e.schoolReportReflectionRateId = s.schoolReportReflectionRateId
	AND s.pointPerGradeId = p.pointPerGradeId 
	AND e.majorId = ss.majorId 
	AND e.universityId = ss.universityId
	AND e.entranceYear = ss.entranceYear
	AND e.recruitSeparate = ss.recruitSeparate
	AND e.majorId = m.majorId
	AND e.universityId = u.universityId
	AND e.ReflectionRateId = r.ReflectionRateId
	AND u.universityName LIKE #{uniName}
	AND e.recruitSeparate = #{susi}
   </select>
	<!-- 학과 세부정보 페이지 -->
	<select id="susiUniversityDetail" resultType="SusiInfoVO">
	SELECT e.majorId, e.universityId, e.recruitSeparate ,e.recruitModelType, e.reflectionRateId, 
  	e.recruitNum, s.schoolReportReflectionRateId,
   	s.grade1ReflectionRate, s.grade2ReflectionRate, s.grade3ReflectionRate, s.reflectionSubjects, s.pointperGradeId,
   	p.pointPerGrade1, p.pointPerGrade2, p.pointPerGrade3, p.pointPerGrade4, p.pointPerGrade5, p.pointPerGrade6,
   	p.pointPerGrade7, p.pointPerGrade8, p.pointPerGrade9, ss.averScore, m.majorName, m.kind, m.college,
   	u.universityName, u.universityLocal, u.universityURL, u.universityMark
   	FROM entranceInfo e, schoolReport s, pointPerGrade p, susiScore ss, major m, university u
   	WHERE e.schoolReportReflectionRateId = s.schoolReportReflectionRateId
   	AND s.pointPerGradeId = p.pointPerGradeId 
   	AND e.majorId = ss.majorId 
   	AND e.universityId = ss.universityId
   	AND e.entranceYear = ss.entranceYear
   	AND e.recruitSeparate = ss.recruitSeparate
   	AND e.majorId = m.majorId
   	AND e.universityId = u.universityId
   	AND m.majorName = #{major}
   	AND u.universityName = #{uniName}
   	AND e.recruitSeparate = #{susi}
	</select>
	
	
	<!-- 학과 세부정보 반영비율 -->
	<select id="susiDetailDTO" resultType="SusiDetailDTO">
	SELECT r.schoolreportreflectionrate, r.practicereflectionrate, r.interviewreflectionrate, 
				r.essayreflectionrate, r.aptitudereflectionrate, r.etcreflectionrate
	FROM entranceInfo e, schoolReport s, pointPerGrade p, susiScore ss, major m, university u, reflectionRate r
	WHERE e.schoolReportReflectionRateId = s.schoolReportReflectionRateId
	AND s.pointPerGradeId = p.pointPerGradeId 
	AND e.majorId = ss.majorId 
	AND e.universityId = ss.universityId
	AND e.entranceYear = ss.entranceYear
	AND e.recruitSeparate = ss.recruitSeparate
	AND e.majorId = m.majorId
	AND e.universityId = u.universityId
	AND e.ReflectionRateId = r.ReflectionRateId
	AND m.majorName = #{major}
   	AND u.universityName = #{uniName}
   	AND e.recruitSeparate = #{susi}
	</select>
	
	    <!-- 수시 대학교 인문 or 자연 -->
   <select id="susiRecommendList" resultType="SusiInfoVO">
   	SELECT e.majorId, e.universityId, e.recruitSeparate ,e.recruitModelType, e.reflectionRateId, 
   	e.recruitNum, s.schoolReportReflectionRateId,
	s.grade1ReflectionRate, s.grade2ReflectionRate, s.grade3ReflectionRate, s.reflectionSubjects, s.pointperGradeId,
	p.pointPerGrade1, p.pointPerGrade2, p.pointPerGrade3, p.pointPerGrade4, p.pointPerGrade5, p.pointPerGrade6,
	p.pointPerGrade7, p.pointPerGrade8, p.pointPerGrade9, ss.averScore, m.majorName, m.kind, m.college,
	u.universityName, u.universityLocal
	FROM entranceInfo e, schoolReport s, pointPerGrade p, susiScore ss, major m, university u
	WHERE e.schoolReportReflectionRateId = s.schoolReportReflectionRateId
	AND s.pointPerGradeId = p.pointPerGradeId 
	AND e.majorId = ss.majorId 
	AND e.universityId = ss.universityId
	AND e.entranceYear = ss.entranceYear
	AND e.recruitSeparate = ss.recruitSeparate
	AND e.majorId = m.majorId
	AND e.universityId = u.universityId
	AND u.universityName = #{uniName}
	AND e.recruitSeparate = #{susi} 
	AND m.kind = #{kind}
	AND ss.averScore<![CDATA[>]]> #{averScore}-0.2 
	AND ss.averScore<![CDATA[<=]]> #{averScore}+0.5 
	order by ss.averScore
   </select>
	
	
	
	
</mapper>

